<mat-card class="with-margins">
  <!-- <div mat-card-avatar class="example-header-image"></div> -->
  <mat-card-title>{{title}}</mat-card-title>
  <mat-card-subtitle>{{description}}</mat-card-subtitle>
  <p class="data">{{ (reading$ | async).value | number:'1.2-2' }} {{(reading$ | async).unit}}</p>
  <p *ngIf="parsedDate" class="date">At {{ parsedDate | date:'medium' }}</p>
  <p *ngIf="!parsedDate" class="date">-</p>
</mat-card>
 