<div class="page">
  <h1>About this app</h1>

  <h2><mat-icon class="icon-inline icon-space-1" aria-hidden="false" aria-label="about icon">face</mat-icon>Me</h2>
  <p>Hi! I'm <a target="_blank" href="https://marcosrgz.com">Marcos</a>!</p>
  <p>I'm a Senior Fullstack Software Engineer settled in <a target="_blank" href="https://goo.gl/maps/6bWya9a2sTZqrSWb6">Gijón, Asturias, Spain.</a></p>
  <p>Programming is my job and my passion. For this reason, I love learning new techs and frameworks and making this kind of things. Specially Javascript and Typescript related ones.</p>
  <p>I also like electronics and hardware. I started programming PICs and arduino a few years ago. This is why the data shown here is taken from a LM74A I2C Sensor connected to my RaspberryPi Model B+</p>

  <h2><mat-icon class="icon-inline icon-space-1" aria-hidden="false" aria-label="about icon">settings_system_daydream</mat-icon>This app</h2>
  <p>During the COVID-19 lockout (and with the consecuent reduction of business) I was asked in my job to do some home training about the techs involved in our current projects</p>
  <p>These techs were <b>NodeJS and Angular</b> mostly, but also some other tech that I've left out of this project</p>
  <p>
    So, I got some certifications (reflected in my <a target="_blank" href="https://www.linkedin.com/in/marcosrz/">linkedin profile</a>) but I am convinced that training is not just about playing some lectures in Udemy and drinking gallons of coffee.
    I think that practice and tinkering is crucial in order to retain the theory and knowledges acquired during the courses.
  </p>
  <p>
    So, why should I make something boring, like another TodoList or something like that?
  </p>
  
  <h2><mat-icon class="icon-inline icon-space-1" aria-hidden="false" aria-label="about icon">science</mat-icon>Techs and Architecture</h2>
  <p>This application has <b>three parts</b></p>
  <ul>
    <li>A <b>sensor reading service</b> written in <b>NodeJS</b> that reads an <b>I2C LM74A Temperature Sensor</b>, connected to my <b>Raspberry 3 PI Model B+</b> and pushes the obtained data to an API every 30 minutes (thru crontab) </li>
    <li>A <b>sensor data REST API</b>, also written in NodeJS with <b>ExpressJS</b>, which stores the sensor data in a <b>MongoDB Database</b> with <b>Mongoose</b> and exposes it</li>
    <li>This <b>Front End</b> witten in <b>Angular</b>, which asks the API for the data, and shows it nicely with the help of <b>Angular Material</b> and <b>ng2-charts</b> packages.</li>
  </ul>
  
  <p>Each of this three pieces of software are running in <b>different environments:</b></p>
  
  <ul>
    <li>The sensor reading service runs in my Raspberry PI (as I said before). It is visible with the help of <b>no-ip</b> services and a bit of router configuration</li>
    <li>
      The API is running in my <b>VPS server</b>, somewhere in the middle of Europe. <b>PM2 Process Manager</b> takes care of it if something goes wrong.
      To make it work along with my other projects (such as <a target="_blank" href="https://marcosrgz.com">my personal online profolio</a>), I set up a <b>NGINX Reverse Proxy</b>.
      To make it a little more secure and fast, I also configured a <b>Cloudflare CDN</b>.
    </li>
    <li>
      At the time I'm writing this lines, my plan is to host this frontend in <b>Netlify</b>. I could place everything in the raspberry (and I would like to) but 
      there is an issue involving no-ip subdomains. I could also deploy it in my VPS, but I don't want to put plenty of projects there, since it is a basic VPN
      configuration with a little RAM and CPU.
    </li>
  </ul>
  
  <h2><mat-icon class="icon-inline icon-space-1" aria-hidden="false" aria-label="about icon">priority_high</mat-icon>Disclaimer</h2>
  <p>
    This app is just a training. It may have bugs and glitches. Unfortunately, I don't have enough time to take care of the small details, but I honestly think
    that it is a good start point to show a few cool things that can be done with Angular, NodeJS, MongoDB and some awesome OpenSource libs.
  </p>
  <p>
    I would add some things that I have in mind depending on my free time.
  </p>

  <h2><mat-icon class="icon-inline icon-space-1" aria-hidden="false" aria-label="about icon">contact_support</mat-icon>Contact</h2>
  <p>Here is my <a target="_blank" href="https://www.linkedin.com/in/marcosrz/">linkedin profile</a> and here is my <a target="_blank" href="https://marcosrgz.com">online profolio</a></p>
  <p>Please, feel free to contact me for any feedback, question or just to say hello!</p>
</div>
