<mat-toolbar color="primary">
    <button mat-icon-button (click)="onToggleSidebarClick()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Sensors</h1>
    <span class="menu-spacer"></span>
</mat-toolbar>

