
<mat-card class="with-margins">
  <mat-card-title>Date range selection</mat-card-title>
  <div class="row">
    <mat-form-field color="primary">
      <mat-label>From</mat-label>
      <input (dateChange)="fromChange($event)" [formControl]="fromInput" matInput [matDatepicker]="pickerFrom">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom 
    ></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>To</mat-label>
      <input (dateChange)="toChange($event)"  [formControl]="toInput" matInput [matDatepicker]="pickerTo">
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
  
    <button mat-button color="primary" (click)="search()"><mat-icon>search</mat-icon></button>
  </div>
</mat-card>
<div class="row">
  <div class="weight-1 row">
    <div class="weight-1 small">
      <app-current-reading *ngIf="cur$ | async"
        title="Current"
        description="Model LM74A"
        [reading$]="cur$">
      </app-current-reading>
    </div>
    <div class="weight-1 small">
      <app-current-reading *ngIf="min$ | async"
        title="Min"
        description="Model LM74A"
        [reading$]="min$">
      </app-current-reading>
    </div>
  </div>
  <div class="weight-1 row">
    <div class="weight-1 small">
      <app-current-reading *ngIf="max$ | async"
        title="Max"
        description="Model LM74A"
        [reading$]="max$">
      </app-current-reading>
    </div>
    <div class="weight-1 small">
      <app-current-reading *ngIf="avg$ | async"
        title="Average"
        description="Model LM74A"
        [reading$]="avg$">
      </app-current-reading>
    </div>
  </div>
</div>
<mat-card class="with-margins">
  <mat-tab-group>
    <mat-tab label="Chart">
      <div class="tab-content">
        <app-readings-chart [readings]="readings$"></app-readings-chart>
      </div>
    </mat-tab>
    <mat-tab label="Data">
      <div class="tab-content">
        <app-readings-list title="Historical Temperature Data" description="Model LM74A" [readings]="readings$"></app-readings-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
