<div class="example-container">
  <mat-sidenav-container (backdropClick)="backdropClicked()" class="example-sidenav-container">
    <mat-sidenav
      [opened]="showSidebar$ | async"
      [disableClose]="true"
      mode="over"
      fixedTopGap="56">
      <mat-nav-list>
        <a [routerLink]="'/'">
          <mat-list-item><mat-icon class="icon-space" aria-hidden="false" aria-label="home icon">network_check</mat-icon>Dashboard</mat-list-item>
        </a>
        <a [routerLink]="'/about'">
          <mat-list-item><mat-icon class="icon-space" aria-hidden="false" aria-label="about icon">contact_support</mat-icon>About</mat-list-item>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>