<div class="current-reading">
  <canvas *ngIf="data" baseChart
          [datasets]="data"
          [labels]="labels"
          [options]="options"
          [legend]="legend"
          [chartType]="type">
  </canvas>
</div>

