/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.with-margins{
  margin: .5em;
}

.tab-content {
  margin-top: 1em;
}

.page {
  max-width: 1024px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.weight-1 {
  flex-grow: 1;
}
.weight-2 {
  flex-grow: 2;
}

@media (max-width: 400px) {

  .row {
    flex-direction: column;
  }

  .with-margins {
    margin: .2em;
  }

  .tab-content {
    margin: .2em;
  }
}

.page {

  margin-bottom: 4em;

  h1, h2, a {
    color: #3f51b5;
    text-decoration: none;
    font-weight: bold;
  }

  h1 {
    margin-top: 1em;
  }

  h2 {
    margin-top: 1.5em;
  }
  
  b {
    color: #333;
  }
  
  p, li {
    line-height: 1.5em;
    text-align: justify;
  }
}

.icon-space {
  margin-right: 1em;
}
.icon-space-1 {
  margin-right: .5em;
}


.icon-inline {
  vertical-align: middle;
}